header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.product-image {
  position: relative;
}
.favorite {
  position: absolute;
  top: 1em;
  right: 1em;
  background-color: black;
  color: white;
  padding: 0.25em;
  border-radius: 50%;
  font-size: 1em;
}
.sold-info {
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin: 0.5em 0;
  font-size: 0.75em;
}
.sold-number {
  background-color: #f3f3f3;
  padding: 0.25em;
  border-radius: 5px;
}
.product-price {
  font-size: 1em;
  font-weight: 700;
}

/* search box */
#search-box-container {
  display: none;
  background-color: #f3f3f3;
  padding: 0.5em;
  border-radius: 20px;
}
#search-box-container input {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: inherit;
}
.show {
  display: block !important;
}
/* not found page */
#not-found {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4em;
  padding: 0 2em;
}
#not-found div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  text-align: center;
}

/* delete modal */
.modal-container {
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
#delete-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
  background-color: white;
  border-radius: 35px;
}
#delete-modal p {
  font-weight: 600;
  margin-bottom: 2em;
}
#button-container {
  display: flex;
  width: 100%;
}
#button-container button {
  width: 50%;
  padding: 0.5em;
  margin: 0.5em;
  font-size: inherit;
  background-color: transparent;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
#cancel {
  background-color: #f3f3f3 !important;
}
#apply {
  color: white !important;
  background-color: #152536 !important;
}
