a {
  padding: 1em 0;
  color: #152536;
}
#title-text {
  font-weight: 600;
  font-size: 1.5em;
}
.product-image {
  position: relative;
}
.favorite {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  color: white;
  background-color: black;
  padding: 0.25em;
  border-radius: 50%;
  font-size: 2em;
}
.sold-info {
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin: 0.5em 0;
  font-size: 0.75em;
}
.sold-number {
  background-color: #f3f3f3;
  padding: 0.25em;
  border-radius: 5px;
}
.product-price {
  font-size: 1em;
  font-weight: 700;
}

/* search box */
#search-box-container {
  display: none;
  background-color: #f3f3f3;
  padding: 0.5em;
  border-radius: 20px;
}
#search-box-container input {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: inherit;
}
.show {
  display: block !important;
}
/* buttons */
.buttons {
  display: flex;
  padding: 1em 0;
  overflow-x: auto;
}
.buttons::-webkit-scrollbar {
  display: none;
}
.button {
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  padding: 0.25em 1em;
  margin-right: 0.75em;
  border: 2px solid black;
  border-radius: 30px;
  background-color: transparent;
  color: #152536;
  white-space: nowrap;
  cursor: pointer;
}
.button:hover {
  color: white;
  background-color: #212529;
}
.buttons button:last-child {
  margin-right: 0;
}

.selected-button {
  background-color: #152536;
  color: white;
}

/* not found page */
#not-found {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4em;
  padding: 0 2em;
}
#not-found div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
  text-align: center;
}

/* delete modal */
.modal-container {
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
#delete-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2em;
  background-color: white;
  border-radius: 35px;
}
#delete-modal p {
  font-weight: 600;
  margin-bottom: 2em;
}
#button-container {
  display: flex;
  width: 100%;
}
#button-container button {
  width: 50%;
  padding: 0.5em;
  margin: 0.5em;
  font-size: inherit;
  background-color: transparent;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
#button-container #cancel {
  background-color: #f3f3f3;
}
#button-container #apply {
  color: white;
  background-color: #152536;
}
