a {
  padding: 1em 0;
  color: #152536;
}
#title-text {
  font-weight: 600;
  font-size: 1.5em;
}

/* most popular */
button {
  background-color: transparent !important;
  color: #152536 !important;
}
.selected-button {
  background-color: #152536 !important;
  color: white !important;
}
