.container {
  padding: 0 1.5em;
  font-size: 1em;
}
/* action bar */
#action-bar {
  padding: 1em 0 1.5em 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#user-name {
  display: flex;
  align-items: center;
  gap: 1em;
}
#user-info p:first-child {
  font-weight: 500;
  font-size: 16px;
  color: #757475;
  margin-bottom: 0.625em;
}
#user-info p:last-child {
  font-weight: 700;
  font-size: 16px;
  color: #152536;
}
/* search */
#search-bar {
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding: 0.5em;
  background-color: #fafafa;
  margin-bottom: 1em;
  border-radius: 3px;
}
#search-bar input {
  width: 80%;
  border: none;
  outline: none;
  font-size: inherit;
  background-color: #fafafa;
}
/* companies */
#companies-logo {
  margin: 0 0.5em 1em 0.5em;
}
.logos {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2em;
}
.logo-name {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
}
.logo-name img {
  width: 4.5em;
  height: 4.5em;
}
.logo-name span {
  font-weight: 600;
}
/* most popular */
#most-popular {
  margin-bottom: 1em;
  position: relative;
}
#header-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5em;
}
#popular-btn {
  font-weight: 600;
  font-size: 20px;
}
#all-btn {
  font-weight: 600;
}
#header-buttons {
  display: flex;
  padding: 1em 0;
  overflow-x: auto;
}
#header-buttons::-webkit-scrollbar {
  display: none;
}
#header-buttons button {
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  padding: 0.25em 1em;
  margin-right: 0.75em;
  border: 2px solid black;
  border-radius: 30px;
  background-color: transparent;
  color: #152536;
  white-space: nowrap;
  cursor: pointer;
}
#header-buttons button:hover {
  color: white;
  background-color: #212529;
}
#header-buttons button:first-child {
  color: white;
  background-color: #212529;
}
#header-buttons button:first-child:hover {
  color: #152536;
  background-color: transparent;
}
#header-buttons button:last-child {
  margin-right: 0;
}
/* products */
#products {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 5em;
  gap: 1em;
}
.product {
  display: flex;
  flex-direction: column;
  gap: 0.75em;
}
.product-image {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0em 0.5em;
  background-color: #f3f3f3;
  border-radius: 30px;
}
.product-image img {
  width: 100%;
}
.product-name {
  font-weight: 700;
  margin-bottom: 0.5em;
}
.product-price {
  font-weight: 600;
  font-size: 12px;
}
/* navigation buttons */
#action-nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 0.5em 0;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #fff;
}
.action-nav-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.icon {
  font-size: 2em;
}
.text {
  font-size: 0.75em;
  color: #757475;
}
.activ-text {
  color: black;
  font-weight: 600;
}
.active-icon {
  display: none;
}
