nav {
  padding: 1em 0;
  display: flex;
  gap: 1em;
}
#title-text {
  font-weight: 700;
}
button {
  background-color: transparent !important;
  color: #152536 !important;
}
.selected-button {
  background-color: #152536 !important;
  color: white !important;
}
