body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#logo {
  display: flex;
  justify-content: center;
  margin: auto;
  width: 75%;
}
#progress {
  width: 2.5em;
  height: 2.5em;
  border: none;
  border: 6px solid rgb(15, 15, 15);
  border-radius: 50%;
  border-top: 6px solid rgb(255, 255, 255);
  animation: rotate 2s infinite linear;
  position: absolute;
  bottom: 4em;
  left: calc(50% - 1.5em);
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
