#row-one {
  padding: 0 1em 1em 1em;
  background-color: #f3f3f3;
  display: flex;
  position: relative;
  overflow: hidden;
}
#image-one {
  /* position: absolute; */
  width: 100%;
  transform: translateX(0);
  transition: transform 0.6s;
}
#image-two {
  position: absolute;
  left: 1em;
  width: 100%;
  transform: translateX(100%);
  transition: transform 0.6s;
}
#image-three {
  position: absolute;
  width: 100%;
  /* left: 1em; */
  transform: translateX(200%);
  transition: transform 0.6s;
}
nav {
  height: 3.5em;
  display: flex;
  align-items: center;
}
.back-to-home-page {
  position: absolute;
  left: 1em;
}
img {
  width: 90%;
  margin: 2em 0;
}
.slides {
  margin-bottom: 2.5em;
  display: flex;
  justify-content: center;
}
.slide-item {
  display: inline-block;
  width: 2em;
  height: 0.25em;
  background-color: rgb(162, 162, 162);
}
.slides span:nth-child(2) {
  margin: 0 0.375em;
}
.current-slide {
  background-color: black;
}
#row-two {
  padding: 1em;
}
#product-info {
  padding: 0 1em;
}
#product-name {
  font-weight: 700;
  font-size: 32px;
  color: #152536;
  margin-bottom: 0.5em;
}
#product-desc {
  font-weight: 400;
  color: #68717a;
  margin-bottom: 1.5em;
}
#product-desc span {
  color: black;
  font-weight: bold;
}
#product-size {
  margin-bottom: 5.5em;
}
#size-color-text {
  font-weight: 700;
  font-size: 1.25em;
  color: #152536;
  margin-bottom: 1em;
}
#sizes {
  display: flex;
  gap: 0.5em;
}
#sizes div {
  padding: 0.5em;
  border: 2px solid #152536;
  border-radius: 50%;
}
.selected-size {
  background-color: #152536;
  color: white;
}
hr {
  width: 90%;
  margin: auto;
  border: 1px solid #ededed;
  margin-bottom: 1em;
}
