.container {
  padding-top: 2em;
}
#result-info {
  font-weight: 700;
  padding-bottom: 2em;
}
#not-found {
  display: none;
  gap: 4em;
}
#not-found div {
  text-align: center;
}
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
    margin: auto;
  }
}
