.container {
  height: 100vh;
  width: 100vw;
  position: relative;
}
.container::before {
  content: "";
  background-image: url(../images/welcome.jpg);
  width: 100%;
  height: 100%;
  display: block;
  overflow: hidden;
  filter: brightness(0.3);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.welcome-text {
  padding: 2em;
  position: absolute;
  bottom: 4em;
  color: #fff;
}
h1 {
  font-weight: 700;
  font-size: 72px;
  margin-bottom: 28px;
}
h3 {
  font-weight: 600;
  font-size: 40px;
  margin-bottom: 16px;
}
p {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
}

@media (min-width: 768px) {
  .welcome-text {
    width: 75%;
    top: 25%;
    left: 12.5%;
    text-align: center;
  }
  p {
    font-weight: 500;
    font-size: 2em;
    line-height: 1.5em;
    text-align: center;
    margin: 0 2em;
  }
}
